In [4]:
from crm_sample import Sample
import pandas as pd
import pyspark
from pyspark.sql import SparkSession

In [7]:
dataSample = pd.read_excel("./sampleData.xlsx")
dataSample = dataSample.where((pd.notnull(dataSample)), None)
dataSample.head()

   TGT       Var1  Var2  Var3  Var4
0    0   0.319845  None     5    10
1    1   0.669336  None     6    12
2    0   0.176801  None     7    14
3    1   0.262581  None     8    16
4    1  0.0483597  None     9    18

In [8]:
spark = SparkSession.builder.appName('pandasToSparkDF').getOrCreate()

df = spark.createDataFrame(dataSample)

In [7]:
df.show()

+---+--------------------+----+----+----+
|TGT|                Var1|Var2|Var3|Var4|
+---+--------------------+----+----+----+
|  0| 0.31984543111421837|null|   5|  10|
|  1|  0.6693363100031399|null|   6|  12|
|  0| 0.17680093924740925|null|   7|  14|
|  1|  0.2625810316487944|null|   8|  16|
|  1|0.048359690482971285|null|   9|  18|
|  0|  0.6627461225065242|null|  10|  20|
|  1| 0.43987012797448666| 1.0|   5|  10|
|  1|                null|null|   6|  12|
|  1|                null|null|   7|  14|
|  1|  0.7113584214418179| 2.0|   8|  16|
|  0|0.016347753421930955|null|   9|  18|
|  0|  0.6775088537844404|null|  12|  24|
|  0| 0.09908422575245535|null|   1|   2|
|  0| 0.09144702288270201| 3.0|  23|  46|
|  0|  0.5835177430531914|null| 213| 426|
|  1|  0.1713354830367705|null| 213| 426|
|  0| 0.24840481900577538| 4.0|  21|  42|
|  0|  0.9019271562317152|null|   3|   6|
|  1| 0.13416649434744532| 4.0|  21|  42|
+---+--------------------+----+----+----+

In [9]:
dataSample1 = Sample(data=df)

In [9]:
dataSample1.null_cleaner()

DataFrame[TGT: bigint, Var1: double, Var3: bigint, Var4: bigint]

In [10]:
dataSample1.data = dataSample1.null_cleaner()

In [73]:
dataSample1.data.printSchema()

root
 |-- TGT: long (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var3: long (nullable = true)
 |-- Var4: long (nullable = true)

In [84]:
b = dataSample1.data

In [11]:
print(dataSample1.data.show())

+---+--------------------+----+----+
|TGT|                Var1|Var3|Var4|
+---+--------------------+----+----+
|  0| 0.31984543111421837|   5|  10|
|  1|  0.6693363100031399|   6|  12|
|  0| 0.17680093924740925|   7|  14|
|  1|  0.2625810316487944|   8|  16|
|  1|0.048359690482971285|   9|  18|
|  0|  0.6627461225065242|  10|  20|
|  1| 0.43987012797448666|   5|  10|
|  1|                null|   6|  12|
|  1|                null|   7|  14|
|  1|  0.7113584214418179|   8|  16|
|  0|0.016347753421930955|   9|  18|
|  0|  0.6775088537844404|  12|  24|
|  0| 0.09908422575245535|   1|   2|
|  0| 0.09144702288270201|  23|  46|
|  0|  0.5835177430531914| 213| 426|
|  1|  0.1713354830367705| 213| 426|
|  0| 0.24840481900577538|  21|  42|
|  0|  0.9019271562317152|   3|   6|
|  1| 0.13416649434744532|  21|  42|
+---+--------------------+----+----+

None

In [44]:
print(df.printSchema())

root
 |-- TGT: long (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var2: double (nullable = true)
 |-- Var3: long (nullable = true)
 |-- Var4: long (nullable = true)

None

In [77]:
print(dataSample1Clean.show())

+---+--------------------+----+----+
|TGT|                Var1|Var3|Var4|
+---+--------------------+----+----+
|  0| 0.31984543111421837|   5|  10|
|  1|  0.6693363100031399|   6|  12|
|  0| 0.17680093924740925|   7|  14|
|  1|  0.2625810316487944|   8|  16|
|  1|0.048359690482971285|   9|  18|
|  0|  0.6627461225065242|  10|  20|
|  1| 0.43987012797448666|   5|  10|
|  1|                null|   6|  12|
|  1|                null|   7|  14|
|  1|  0.7113584214418179|   8|  16|
|  0|0.016347753421930955|   9|  18|
|  0|  0.6775088537844404|  12|  24|
|  0| 0.09908422575245535|   1|   2|
|  0| 0.09144702288270201|  23|  46|
|  0|  0.5835177430531914| 213| 426|
|  1|  0.1713354830367705| 213| 426|
|  0| 0.24840481900577538|  21|  42|
|  0|  0.9019271562317152|   3|   6|
|  1| 0.13416649434744532|  21|  42|
+---+--------------------+----+----+

None

In [74]:
dataSample1Clean.printSchema()

root
 |-- TGT: long (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var3: long (nullable = true)
 |-- Var4: long (nullable = true)

In [51]:
dataSample1Clean.show()

+---+--------------------+----+----+
|TGT|                Var1|Var3|Var4|
+---+--------------------+----+----+
|  0| 0.31984543111421837|   5|  10|
|  1|  0.6693363100031399|   6|  12|
|  0| 0.17680093924740925|   7|  14|
|  1|  0.2625810316487944|   8|  16|
|  1|0.048359690482971285|   9|  18|
|  0|  0.6627461225065242|  10|  20|
|  1| 0.43987012797448666|   5|  10|
|  1|                null|   6|  12|
|  1|                null|   7|  14|
|  1|  0.7113584214418179|   8|  16|
|  0|0.016347753421930955|   9|  18|
|  0|  0.6775088537844404|  12|  24|
|  0| 0.09908422575245535|   1|   2|
|  0| 0.09144702288270201|  23|  46|
|  0|  0.5835177430531914| 213| 426|
|  1|  0.1713354830367705| 213| 426|
|  0| 0.24840481900577538|  21|  42|
|  0|  0.9019271562317152|   3|   6|
|  1| 0.13416649434744532|  21|  42|
+---+--------------------+----+----+

In [12]:
dataSample2 = Sample(data = dataSample1.data)

In [13]:
dataSample2.imputation()

DataFrame[TGT: double, Var1: double, Var3: double, Var4: double]

In [15]:
dataSample2.imputation().printSchema()

root
 |-- TGT: double (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var3: double (nullable = true)
 |-- Var4: double (nullable = true)

In [11]:
 dataSample1.data =  dataSample1.imputation()

In [19]:
dataSample1.data.printSchema()

root
 |-- TGT: double (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var3: double (nullable = true)
 |-- Var4: double (nullable = true)

In [12]:
dataSample1.data.show()

+---+--------------------+-----+-----+
|TGT|                Var1| Var3| Var4|
+---+--------------------+-----+-----+
|0.0| 0.31984543111421837|  5.0| 10.0|
|1.0|  0.6693363100031399|  6.0| 12.0|
|0.0| 0.17680093924740925|  7.0| 14.0|
|1.0|  0.2625810316487944|  8.0| 16.0|
|1.0|0.048359690482971285|  9.0| 18.0|
|0.0|  0.6627461225065242| 10.0| 20.0|
|1.0| 0.43987012797448666|  5.0| 10.0|
|1.0|  0.3655669191726934|  6.0| 12.0|
|1.0|  0.3655669191726934|  7.0| 14.0|
|1.0|  0.7113584214418179|  8.0| 16.0|
|0.0|0.016347753421930955|  9.0| 18.0|
|0.0|  0.6775088537844404| 12.0| 24.0|
|0.0| 0.09908422575245535|  1.0|  2.0|
|0.0| 0.09144702288270201| 23.0| 46.0|
|0.0|  0.5835177430531914|213.0|426.0|
|1.0|  0.1713354830367705|213.0|426.0|
|0.0| 0.24840481900577538| 21.0| 42.0|
|0.0|  0.9019271562317152|  3.0|  6.0|
|1.0| 0.13416649434744532| 21.0| 42.0|
+---+--------------------+-----+-----+

In [13]:
dataSample1.data = dataSample1.correlation()

In [14]:
dataSample1.data.printSchema()

root
 |-- TGT: double (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var3: double (nullable = true)

In [15]:
dataSample1.data.show()

+---+--------------------+-----+
|TGT|                Var1| Var3|
+---+--------------------+-----+
|0.0| 0.31984543111421837|  5.0|
|1.0|  0.6693363100031399|  6.0|
|0.0| 0.17680093924740925|  7.0|
|1.0|  0.2625810316487944|  8.0|
|1.0|0.048359690482971285|  9.0|
|0.0|  0.6627461225065242| 10.0|
|1.0| 0.43987012797448666|  5.0|
|1.0|  0.3655669191726934|  6.0|
|1.0|  0.3655669191726934|  7.0|
|1.0|  0.7113584214418179|  8.0|
|0.0|0.016347753421930955|  9.0|
|0.0|  0.6775088537844404| 12.0|
|0.0| 0.09908422575245535|  1.0|
|0.0| 0.09144702288270201| 23.0|
|0.0|  0.5835177430531914|213.0|
|1.0|  0.1713354830367705|213.0|
|0.0| 0.24840481900577538| 21.0|
|0.0|  0.9019271562317152|  3.0|
|1.0| 0.13416649434744532| 21.0|
+---+--------------------+-----+

In [ ]:
dataSample1.data = dataSample1.